---
# Dotfiles role: clone/pull dotfiles repo and create symlinks

- name: Check if dotfiles repo exists
  stat:
    path: "{{ dotfiles_dir }}/.git"
  register: dotfiles_repo

- name: Clone dotfiles repo (first time)
  git:
    repo: "{{ dotfiles_repo_url }}"
    dest: "{{ dotfiles_dir }}"
    version: main
    force: yes
  when: not dotfiles_repo.stat.exists

- name: Update dotfiles repo (if exists)
  git:
    repo: "{{ dotfiles_repo_url }}"
    dest: "{{ dotfiles_dir }}"
    update: yes
    force: yes
  when: dotfiles_repo.stat.exists

- name: Create symlinks for dotfiles
  file:
    src: "{{ dotfiles_dir }}/{{ item.src }}"
    path: "{{ lookup('env', 'HOME') }}/{{ item.dest }}"
    state: link
    force: yes
  loop:
    - { src: '.zshenv', dest: '.zshenv' }
    - { src: '.zshrc', dest: '.zshrc' }
    - { src: '.bashrc', dest: '.bashrc' }
    - { src: '.tmux.conf', dest: '.tmux.conf' }
    - { src: '.zsh/welcome.zsh', dest: '.zsh/welcome.zsh' }
    - { src: '.zsh/welcome-ssh.zsh', dest: '.zsh/welcome-ssh.zsh' }

- name: Ensure .zsh directory exists
  file:
    path: "{{ lookup('env', 'HOME') }}/.zsh"
    state: directory
    mode: '0755'
